<div class="mt-4">
    <div class="row">
        <div class="col-lg-3">
            <h1>{{data.title}}</h1>
            <div class="mt-4">
                <p>{{data.description}}</p>
            </div>
        </div>
        <div class="col-lg-9">
            <h2>Video chi tiết</h2>
                <div class="mt-4">
                    <iframe width="720" height="405" src="https://www.youtube.com/embed/{{data.videoId}}" frameborder="0"></iframe>
                </div>
            <div class="mt-4">
                <h2>Nội dung</h2>
                <p>{{data.content}}</p>
            </div> 
            <div class="mt-4">
                
            </div>
        </div>

    </div>
</div>

